/* Estilo para o corpo da página */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para o cabeçalho */
.App-header {
  background-color: #007bff;
  color: #fff;
}

/* Estilo para o rodapé */
.App-footer {
  margin-top: auto;
  background-color: #007bff;
  color: #fff;
}